* {
    margin: 0;
    padding: 0;
    line-height: 1.4rem;
    color: #222;
}
.btn {
    padding: 10px 20px;
}
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    font-size: 1.2rem;
    font-weight: 400;
}
h1 {
    font-size: 2.4rem;
    font-family: 800;
}
h2 {
    font-size: 2.2rem;
    font-weight: 600;
}
h3 {
    font-size: 2rem;
    font-weight: 600;
}
h4 {
    font-size: 1.8rem;
    font-weight: 600;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #222;
}
/* flex */
.flex {
    display: flex;
    gap: 10px;
}
.active {
    font-weight: 700;
    color: #000;
} 
.container {
    width: 100%;
}
/* navigation */
.navigation {
    justify-content: space-between;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}
.navigation ul li {
    margin: 0 30px;
}
.content-container {
    margin: 20px 0;
    display: grid;
    place-items: center;
}